:root {
	--color-primary: #186cb0;
	--color-dark-primary: #09528e;
	--color-secondary: #ececec;
}

@font-face {
	font-family: Uniform;
	src: url(./assets/fonts/Uniform.ttf);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Uniform;
}

ul {
	list-style: none;
}

/* Header */

header {
	background-color: var(--color-primary);
	color: white;

	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	padding: 10px;
}

#header_nav {
	display: flex;
	align-items: center;
}

.header_link {
	margin-left: 10px;

	display: flex;
	flex-direction: column;
	align-items: center;

	text-transform: uppercase;
	text-align: center;
}

.header_link:hover {
	font-weight: bolder;
	cursor: pointer;
}

@media screen and (max-width: 600px) {
	.header_link:last-of-type {
		display: none;
	}

	h1 {
		font-size: 20px;
	}

	.header_link {
		font-size: 10px;
	}
}

/*  */

/* Jumbotron */

#jumbotron {
	display: flex;
	justify-content: end;
	align-items: center;

	height: 250px;
	background-image: url(./assets/images/ad.png);
	background-repeat: no-repeat;
	background-size: cover;

	max-width: 1400px;
	margin: auto;
	margin-top: 20px;
}

#jumbotron_play {
	display: inline-block;
	margin-right: 20px;

	background-color: rgba(0, 0, 0, 0.5);
	color: white;
	padding: 10px;
	border-radius: 5px;
	text-transform: uppercase;
}

#jumbotron_play p {
	font-size: 20px;
	white-space: pre-line;
}

#play_button {
	background-color: #d03737;
	padding: 10px;
	border-radius: 3px;
	text-align: center;
}

@media screen and (max-width: 768px) {
	#jumbotron {
		display: none;
	}
}

/*  */

/* Navbar */

ul {
	display: flex;
	gap: 10px;

	max-width: 1400px;
	margin: 20px auto;
}

ul .nav_link {
	background-color: var(--color-primary);
	flex-basis: 0;
	flex-grow: 1;
	color: white;
	padding: 10px;
	text-align: center;
}

ul .nav_link:hover {
	background-color: var(--color-dark-primary);
	cursor: pointer;
}

@media screen and (max-width: 1400px) {
	ul {
		padding: 0 10px;
	}
}

/*  */
